.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    justify-content: space-between; /* Aligns children at the start and end */
    margin: 0; /* Remove any default margin */
  }
  
  .mainContent {
    flex: 1; /* Takes up all available space */
    margin: 30px 30px 10px 30px; /* Added zero bottom margin */
  }